*,
::before,
::after
{
    box-sizing: border-box;
}

:root
{
    font-size: 1em;
    --text-color-lightpurple: #ca8ad3;
    --text-color-blue: #3b7ce1;
    --text-color-orange: #ff6200;
    --background-off-white: #f4edde;
    --background-kinf-of-white : rgb(190, 190, 190);
    --background-kind-of-grey: rgb(135, 135, 135);
    --background-deep-kind-of-grey: rgb(81, 81, 81);
}

html
{
    scroll-behavior: smooth;
}
/* -- A -- */

/* -- B -- */

/* -- C -- */
.contact
{
    grid-area: 10 / 2 / 11 / 12;
    border-bottom: 3px solid var(--text-color-lightpurple);
    scroll-margin-top: 9rem;
}

.container
{
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    gap: 9px;
    /* background: var(--background-deep-kind-of-grey); */
}

h1
{
    /* display: inline-block; */
    color: white;
}

h3
{
    color: var(--text-color-lightpurple);
}

/* -- I -- */

.image
{
    border: 3px solid grey;
    min-height: 300px;
    border-radius: 3px;
    box-shadow: 0 0 9px #000;
}

.image1
{
    grid-area: 6 / 2 / 7 / 5
}

.image2
{
    grid-area: 6 / 5 / 7 / 8
}

.image3
{
    grid-area: 6 / 8 / 7 / 12;
}

.image4
{
    grid-area: 7 / 2 / 8 / 6;
}

.image5
{
    grid-area: 7 / 6 / 8 / 12;
}

/* -- L -- */
.logo
{
    grid-area: 1 / 2 / 2 / 5;
    display: flex;
    background: var(--background-a-kind-of-white);
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

/* -- N -- */
.navArea
{
    grid-area: 1 / 2 / 2 / 12;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: sticky;
    top: 0; 
    margin: 18px 0;
    background: white;
}

nav
{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0;
    border-radius: 9px;
    border-top: 3px solid var(--text-color-blue);
    border-bottom: 3px solid var(--text-color-blue);
    /* background: var(--background-deep-kind-of-grey); */
    
}

nav a
{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color-blue);
    /* border: 1px solid var(--text-color-lightpurple);
    border-radius: 6px; */
    padding: 12px 27px;
    transition: color 300ms ease-in-out;
}

nav a:hover
{
    color: whitesmoke;
    background: var(--text-color-blue);
    border-radius: 9px;
}

/* -- O -- */
.offers
{
    grid-area: 4 / 2 / 5 / 12;
    border-bottom: 3px solid var(--text-color-blue);
    border-left: 6px solid var(--text-color-blue);
    border-radius: 6px;
    background: whitesmoke;
    padding: 5px 20px;
    scroll-margin-top: 9rem;
}

/* -- P -- */
p
{
    letter-spacing: 3px;
    column-count: 2;
    column-rule-style: solid;
}

/* -- R -- */
.realisations
{
    grid-area: 5 / 2 / 6 / 12;
    border-bottom: 3px solid green;
    border-left: 6px solid green;
    border-radius: 6px;
    background: rgb(225, 225, 225);
    display: flex;
    padding: 5px 20px;
    scroll-margin-top: 9rem;
}

/* -- T -- */
.title
{
    grid-area: 2 / 2 / 3 / 12;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 9px;
    height: 254px;
    background: rgb(0, 0, 140);
    margin-bottom: 27px;
}

.title > *
{
    display: flex;
    color: #3b7ce1;
    letter-spacing: 3px;
    flex: 1 1 600px;
    justify-content: center;
    align-items: center;
}

.title h3
{
    color: var(--text-color-orange);
}

/* -- W -- */
.whoAmI
{
    grid-area: 3 / 2 / 4 / 12;
    border-bottom: 3px solid red;
    border-left: 6px solid red;
    border-radius: 6px;
    background: whitesmoke;
    padding: 5px 20px;
    scroll-margin-top: 9rem;
}