*,
::before,
::after
{
    box-sizing: border-box;
}

:root
{
    font-size: 1em;
    --text-color-lightpurple: #bc10d3;
    --text-color-blue: #3b7ce1;
    --text-color-orange: rgb(255, 98, 0);
    --background-off-white: #f4edde;
    --background-blue-hebert: rgb(0, 0, 140);
    --background-kinf-of-white : rgb(190, 190, 190);
    --background-kind-of-grey: rgb(135, 135, 135);
    --background-deep-kind-of-grey: rgb(81, 81, 81);
    --background-grey-orange: rgb(214, 135, 86);
}

html
{
    scroll-behavior: smooth;
}
/* -- A -- */

/* -- B -- */
body
{
    background: linear-gradient(114deg, var(--background-off-white)0%, var(--background-kinf-of-white) 51%, var(--background-grey-orange) 75%);
}

.box
{
    background: transparent;
    border-radius: 6px;
    scroll-margin-top: 9rem;
}
/* -- C -- */
.contact
{
    grid-area: 13 / 1 / 14 / 13;
    border-bottom: 3px solid var(--text-color-lightpurple);
}

.container
{
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    gap: 9px;
    /* background: var(--background-deep-kind-of-grey); */
}

h3
{
    color: var(--text-color-lightpurple);
}

/* -- I -- */

.image
{
   width: auto;  
   height: auto;
}

.image > *
{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    border: 3px solid grey;
    box-shadow: 0 0 9px #fff;
}

.image1
{
    grid-area: 6 / 1 / 7 / 5
}

.image2
{
    grid-area: 7 / 1 / 8 / 5
}

/* .image3
{
    grid-area: 10 / 1 / 11 / 5;
}

.image4
{
    grid-area: 10 / 5 / 11 / 8;
}

.image5
{
    grid-area: 11 / 8 / 12 / 13;
} */

/* .image6
{
    grid-area: 11 / 8 / 12 / 13;
} */

/* -- L -- */
.logo
{
    /* grid-area: 1 / 2 / 2 / 5; */
    display: flex;
    background: var(--background-a-kind-of-white);
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

/* -- N -- */
.navArea
{
    /* grid-area: 3 / 1 / 4 / 13;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: sticky;
    top: 0;  */
    /* margin: 18px 0; */
    /* background: rgb(0, 0, 140); */
}

nav
{
    grid-area: 3 / 1 / 4 / 13;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* padding: 18px 0; */
    border-radius: 9px;
    border-top: 3px solid var(--text-color-blue);
    border-bottom: 3px solid var(--text-color-blue);
    background: var(--background-kind-of-grey);
    
}

nav a
{
    font-size: 1.3rem;
    text-decoration: none;
    /* flex: 1 1 100px; */
    color: var(--background-off-white);
    /* border: 1px solid var(--text-color-lightpurple);
    border-radius: 6px; */
    padding: 12px 27px;
    margin-top: 9px;
    margin-bottom: 9px;
    background: none;
    transition: background 300ms ease-in-out;
}

nav a:hover
{
    
    background: var(--background-blue-hebert);
    /* background: var(--text-color-blue); */
    border-radius: 9px;
}

/* -- O -- */
.offers
{
    
    grid-area: 7 / 5 / 8 / 13;
    border-bottom: 3px solid var(--text-color-blue);
    border-left: 6px solid var(--text-color-blue);
    padding: 5px 20px;
    
}

.otherPics
{
    grid-area: 11 / 1 / 12 / 13 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

.otherPics > img
{
    border-radius: 9px;
    margin: 3px;
    flex: auto;
}

/* -- P -- */
p
{
    letter-spacing: 3px;
    column-count: 2;
    column-rule-style: solid;
}

/* -- R -- */
.realisations
{
    grid-area: 8 / 1 / 9 / 13;
    border-bottom: 3px solid green;
    border-left: 6px solid green;
    display: flex;
    margin-top: 2rem;
    padding: 5px 20px;
    
}

/* -- T -- */
.title
{
    grid-area: 1 / 1 / 3 / 13;
    display: flex;
    flex: 1 1 300px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    min-height: 254px;
    background: var(--background-blue-hebert)
    /* margin-bottom: 27px; */
}

.title > *
{
    display: flex;
    /* color: #3b7ce1; */
    letter-spacing: 3px;
    margin: 20px;
    /* flex: 1 1 300px; */
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
}

.title h1
{
    /* display: inline-block; */
    color: var(--background-kinf-of-white);
    font-size: 3rem
}

.title h2
{
    color: var(--background-kinf-of-white);
}

.title h3
{
    color: var(--text-color-orange)
}

/* -- W -- */
.whoAmI
{
    grid-area: 6 / 5 / 7 / 13;
    border-bottom: 3px solid red;
    border-left: 6px solid red;
    background: transparent;
    padding: 5px 20px;
    
}

@media only screen and (max-device-width: 640px) 
{
    .otherPics
    {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .otherPics > img
    {
        height: auto;
    }

    .image1
    {
        grid-area: 6 / 1 / 7 / 13;
    }

    .whoAmI
    {
        grid-area: 7 / 1 / 8 / 13;
        scroll-margin-top: 18rem;
    }

    .image2
    {
        grid-area: 8 / 1 / 9 / 13
    }

    .offers
    {
        
        grid-area: 9 / 1 / 10 / 13;
        scroll-margin-top: 11rem;
    }
  
    .otherPics
    {
        grid-area: 11 / 1 / 12 / 13;
        scroll-margin-top: 11rem;
    }

    .realisations
    {
        grid-area: 10 / 1 / 11 / 13; 
        scroll-margin-top: 11rem; 
    }

    .contact
    {
        grid-area: 16 / 1 / 17 / 13;
    }
}